APP_ID="app_2248679d8f07eb1b7eacd922f9a26a1e"
DEV_PORTAL_API_KEY="api_a2V5XzY2YTU0ODBmMDVmN2U3YmMxY2JmZTY3OGU4NDFmN2I0OnNrXzcyMjZhOWVlMDY4YTY5ZGRmYWM5NWNmYTVkNjY3NGJlYWRiM2UxMjMwZmJiOWQ0Yw"
WLD_CLIENT_ID=app_2248679d8f07eb1b7eacd922f9a26a1e
WLD_CLIENT_SECRET=sk_69df21d35afc6564b3d9c75fb12c46d4696507cfd1e73e64
NEXTAUTH_URL=https://worldcoin.org/verify?t=wld&i=e2e35e57-c5ff-4815-aafa-04de68cb8954&k=flZJyppqaNcXNQx4CBa%2BdoHWMBZjrqpKKB%2F%2FPnmg090%3D
